<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify your email address</title>
</head>

<body>
    <div style="background-color: #f5f5f5; padding: 20px;">
        <div style="background-color: #fff; padding: 20px; border-radius: 5px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
            <h2 style="color: #333;">Activate Your Account</h2>
            <p>Hello {{ name }},</p>
            <p>Thank you for signing up! You need to verify your email address. To activate your account, please click the button below:</p>
            <a href="http://{{ domain }}/activate/{{ uid }}/{{ token }}/"
                style="background-color: #007bff; color: #fff; padding: 10px 20px; text-decoration: none; border-radius: 3px; display: inline-block;">Activate Your
                Account</a>
            <p>If you didn't sign up for an account with us, please disregard this email.</p>
            <p>Best regards,<br>Liseting Cell Est Safi@2024</p>
        </div>
    </div>
</body>

</html>
